<div class="container">
  <div class="sidebar">
    <ol class="tournaments">
  	<%= render @tournaments %>
    </ol>

    <p>Add a <%= link_to "new tournament?", "#", id: "tourn-link" %></p>

    <%= form_for [current_user, current_user.tournaments.new], html: {class: 'new-tourn'}, remote: true do |f| %>
    	
    		<%= f.label :event %>
  		  <%= f.text_field :event, class: "tournament-field" %><br>

  		  <%= f.label :location %>
  		  <%= f.text_field :location, class: "tournament-field" %><br>

  		  <%= f.label :date %>
  		  <%= f.text_field :date, class: "tournament-field" %>

  		  <%= f.submit 'Save', id: 'submit' %>
    	
    <% end %>
    
  </div>

  <div class="gamebar">
    <ol></ol>
    
  </div>

  <div class="game-board">

    <%= render "games/game_board" %>

  </div>
</div>
