// Dynamically generates each game in the list of games under a certain tournament
$(".gamebar ol").prepend('<p><a href="#" class="back-tourn">Back to tournaments list</a></p>')
$(".gamebar ol").prepend('<p><%= @tournament.location %>, <%= @tournament.date %></p>')
$(".gamebar ol").prepend('<h3><%= @tournament.event %></h3>')
$(".gamebar ol").append('<%= j render partial: "games/game", collection: @games %>');

$(".gamebar div").append('<p>Add a <%= link_to "game", "#", id: "game-link" %> to this tournament?</p>');

$(".gamebar div").append('<%=j render partial: "form" %>');